.footer-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer-ul-li {
    margin: 2em;
}


/* Add to all H1 */

.h1-format {
    margin: 15px 0px;
    color: #e2001a;
}

.ul-format {
    margin: 2em;
}

.card-format {
    margin: 2em;
}


/* Add to body element in HTML */

.body-format {
    background-color: #000033;
    color: #191970;
}


/* Add to all bootstrap rows */

.row-format {
    margin: 2em;
    background-color: #ffffff;
    border: 4px solid #007bff;
    border-radius: 8px;
    padding: 20px;
}

.img-format{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}


/* Colors
Americana:
MediumBlue
AliceBlue
MidnightBlue
FireBrick

class names:
what you're working on(pages, layouts, bio) - item

*/

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://images.unsplash.com/photo-1506551907304-60bb62ffc9b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    overflow:hidden;
}

/* .container-flex {
    display: flex;
    margin-top: 50px;
  } */
  
 .item-flex {
    /* position: relative;
    display: block;
    flex: 1 1 0px; */
    transition: transform 500ms;
  }
  
  /* .container-flex:focus-within .item-flex,
  .container-flex:hover .item-flex {
    transform: translateX(-25%);
  } */
  
  /* .item-flex:focus ~ .item-flex,
  .item-flex:hover ~ .item-flex {
    transform: translateX(25%);
  } */
  
  .container-flex .item-flex:focus,
  .container-flex .item-flex:hover {
    transform: scale(1.5);
    z-index: 1;
  }
  
  /* .item-flex img {
    display: block;
    max-width: 100%;
  } */

  span{
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
      
        z-index: 1;
      
        /* fixes overlap error in IE7/8, 
           make sure you have an empty gif */
        background-image: url('empty.gif');
  }