.footer-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-ul-li {
  margin: 2em;
}

/* Add to all H1 */

.h1-format {
  margin: 15px 0px;
  color: #e2001a;
}

/* Add to all ul */

.ul-format {
  margin: 2em;
}

/* Add to all cards */

.card-format {
  margin: 28px;
  border: 1px solid black;
}

/* Add to body element in HTML */

.body-format {
  background-color: #000033;
  color: #191970;
}

/* Add to all bootstrap rows */

.row-format {
  margin: 2em;
  background-color: #ffffff;
  border: 4px solid #007bff;
  border-radius: 8px;
  padding: 20px;
}

.img-format {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-center {
  text-align: center;
  color: #e2001a;
}

.header-color {
    text-align: center;
    color: #191970;
}


/* Colors
Americana:
MediumBlue
AliceBlue
MidnightBlue
FireBrick

class names:
what you're working on(pages, layouts, bio) - item

*/

html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("https://images.unsplash.com/photo-1506551907304-60bb62ffc9b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item-flex {
  transition: transform 500ms;
}

.container-flex .item-flex:focus,
.container-flex .item-flex:hover {
  transform: scale(1.5);
  z-index: 1;
}

span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}

img {
  width: 100%;
  border-radius: 6px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  overflow: hidden;
}
.news-heading {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    color: #e2001a;
}

